<%= turbo_frame_tag "senders_table" do %>
  <div class="mx-3 sm:mx-4 mb-3 sm:mb-4">
    <%= render Dashboard::LoadingSendersTableComponent.new(@inbox) %>
    <div id="notifications" class="absolute"></div>
    <% if @inbox.present? %>
      <% senders = current_user.option.hide_personal ? @inbox.senders.values.reject(&:personal?) : @inbox.senders.values %>
      <% if senders.any? %>
        <div class="flex flex-col divide-y border-b" data-turbo-prefetch="false" data-inbox-target="sendersTable">
          <% senders.sort.each do |sender| %>
            <%= render Dashboard::SenderRowComponent.new(sender) %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center text-sm text-gray-500 p-8">
          <div class="flex justify-center mb-2">
            <%= image_tag "logo.png", alt: "Clear My Spam Logo", class: "h-10 w-auto mx-auto" %>
          </div>
          You made it - welcome to inbox zero!
        </div>
      <% end %>
    <% end %>
    <% unless current_user.active_pro? %>
      <%= render FloatingBannerComponent.new(
        cta_text: "Go Pro",
        cta_stimulus_data: Views::StimulusData.new(
          controllers: "pricing",
          actions: { "click" => "pricing#checkout" },
          values: { "pricing" => { "plan-type" => "monthly" } },
          include_controller: true
        )
      ) do %>
        <% if current_user.remaining_disposal_count.zero? %>
          You've reached your daily limit of
          <b class="text-primary"><%= current_user.active_account_plan.daily_disposal_limit %></b>
          <%= disposed_verb %> emails.
        <% else %>
          You can <%= dispose_verb %>
          <b class="text-primary">
            <%= current_user.remaining_disposal_count %>
          </b>
          more emails today.
        <% end %>
        Upgrade to pro for unlimited access!
      <% end %>
    <% end %>
  </div>
<% end %>
