<div <%= "id=#{@id}_wizard" %> class="relative z-30" aria-labelledby="modal-title" role="dialog" aria-modal="true" data-controller="wizard">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-2 sm:p-6 md:p-12 text-center sm:items-center">
      <div class="rounded-xl bg-white shadow-xl w-full md:max-w-xl lg:max-w-2xl xl:max-w-3xl">
        <div class="w-full pt-6 pb-4 px-4 flex flex-col items-center gap-y-4 md:gap-y-8 justify-center max-w-5xl">
          <div class="w-full">
            <div class="flex items-center justify-center">
              <% steps.each do |step| %>
                <div class="relative group pr-10 sm:pr-12 md:pr-16 lg:pr-24 last:pr-0 cursor-pointer duration-200">
                  <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="<%= class_names("h-0.5 w-full", completed?(step) ? "bg-primary" : "bg-gray-200") %>"></div>
                  </div>

                  <%= button_to helpers.onboarding_step_path(step: steps.index(step)), class: class_names("relative flex size-6 md:size-8 items-center justify-center rounded-full", circle_styling(step)) do %>
                    <% if completed?(step) %>
                      <%= helpers.icon("fa-solid", "check", class: "text-white") %>
                    <% else %>
                      <%= helpers.icon("fa-solid", "circle", class: class_names("text-xs", in_progress?(step) ? "text-primary" : "text-gray-300 invisible group-hover:visible")) %>
                    <% end %>
                  <% end %>
                  <div class="<%= circle_text_styling(step) %>"><%= step.title %></div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="flex flex-col items-center gap-y-4 w-full px-4">
            <div class="text-center">
              <h2 class="text-primary text-xl md:text-2xl font-medium"><%= current_step.title %></h2>
              <p class="text-gray-700 text-sm md:text-md sm:h-8"><%= current_step.description %></p>
            </div>
            <%= video_tag current_desktop_video_path, class: "w-full shadow-lg hidden sm:block sm:shadow-2xl rounded-xl border", autoplay: true, loop: true, muted: true, playsinline: true %>
            <%= video_tag current_mobile_video_path, class: "w-2/3 sm:hidden shadow-lg sm:shadow-2xl rounded-xl border", autoplay: true, loop: true, muted: true, playsinline: true %>
          </div>
          <div class="w-full flex justify-end gap-x-2">
            <%= button_to "Previous",
                          helpers.onboarding_step_path(step: @current_step - 1),
                          class: "rounded-full outline outline-primary px-2 py-0.5 text-primary text-sm disabled:text-gray-300 disabled:outline-gray-300 hover:enabled:outline-primary-hover hover:enabled:text-primary-hover duration-200",
                          disabled: @current_step == 0 %>
            <%= button_to final_step? ? "Complete" : "Next",
                          final_step? ? helpers.onboarding_complete_path : helpers.onboarding_step_path(step: @current_step + 1),
                          class: "rounded-full bg-primary text-white px-2 py-0.5 text-sm disabled:opacity-50 hover:enabled:bg-primary-hover duration-200" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
