<div class="flex flex-col">
  <div class="p-6 text-center flex flex-col flex-grow">
    <%= render "hero" %>
    <%= render "shared/marketing/logo_cloud" %>
    <%= render "demo" %>
    <%= render "features" %>
    <%= render "reviews" %>
    <%= render "blogs" %>
  </div>
</div>