<div class="flex flex-col">
  <div class="p-6 text-center flex flex-col flex-grow">
    <%= render "hero" %>
    <%= render Marketing::LogoCloudComponent.new %>
    <%= render "features" %>
    <%= render "reviews" %>
    <%= render "blogs" %>
  </div>
</div>