<div class="bg-white rounded-lg shadow border border-gray-200">
  <div class="border-b border-gray-200">
    <nav class="flex space-x-8 px-6" aria-label="Tabs">
      <% tabs.each do |tab| %>
        <%= link_to admin_path(tab: tab[:id], date_range: params[:date_range], page: params[:page], per_page: params[:per_page]), 
            class: tab_classes(tab[:id]),
            data: { tab: tab[:id] } do %>
          <div class="flex items-center space-x-2">
            <div class="flex-shrink-0">
              <i class="<%= tab[:icon] %>"></i>
            </div>
            <div class="text-left">
              <div class="font-medium"><%= tab[:label] %></div>
              <div class="text-xs opacity-75"><%= tab[:description] %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </nav>
  </div>
  
  <div class="p-6">
    <div id="tab-content">
      <%= render "admin/tabs/#{active_tab}", metrics: metrics %>
    </div>
  </div>
</div>

