<div class="<%= class_names(
                  @on_dashboard && !current_user.active_pro? && "mb-20 md:mb-0",
                  "w-full p-4 flex flex-col gap-y-2 sm:flex-row sm:justify-between items-center text-xs text-gray-400"
                ) %>">
  <div>jonathanchen.dev</div>
  <div class="flex flex-row items-center gap-x-4">
    <% if @on_dashboard %>
      <%= link_to "Report a Bug",
                  "https://tally.so/r/mB2Y24",
                  target: "_blank",
                  class: "hover:text-primary duration-200" %>
      <%= link_to "Feature Requests",
                  "https://tally.so/r/meYG0J",
                  target: "_blank",
                  class: "hover:text-primary duration-200" %>
      <%= button_to "Help", dashboard_help_path, class: "hover:text-primary duration-200" %>
    <% else %>
      <%= link_to "Terms", terms_path, class: "hover:text-primary duration-200" %>
      <%= link_to "Privacy", privacy_path, class: "hover:text-primary duration-200" %>
    <% end %>
  </div>
</div>